body{
    padding-left: 200px;
    background-image: url(https://i.pinimg.com/originals/41/8e/1a/418e1a67a6ff452f43a39a4d913dc540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(215, 215, 223);
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-shadow: burlywood;
    text-decoration: cornsilk;
    text-indent: 0px;
}
h2{
    padding-bottom: 20px;
}
.submit{
    width: 10%;
    background-color: rgb(10, 8, 109);
    color: black;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
}
.input{
    width: 50%;
    padding: 12px 20px;
}
input{
    background-color: black;
    color: blanchedalmond;
    box-sizing: border-box;
    border-radius: 3px;
}
.card{
    background-color:rgb(14, 13, 13);
}
label{
    color: rgb(236, 230, 230);
}
.gender{
    font-size: large;
    color: black;
    padding-left: 10px;
}
.radio{
    padding: 5px;
    box-sizing: border-box;
}
